<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Terms</key>
	<dict>
		<key>Arduino</key>
		<dict>
			<key>Definition</key>
			<string>[Arduino](https://www.arduino.cc) is an open source, computer hardware and software company, project, and user community that designs and manufactures microcontroller kits for building digital devices and interactive objects that can sense and control objects in the physical world.</string>
		</dict>
		<key>AutoLayout</key>
		<dict>
			<key>Definition</key>
			<string>A layout engine that helps lay out your user interface (UI) based on the [constraint](glossary://constraint) you specify.</string>
		</dict>
		<key>BLE</key>
		<dict>
			<key>Definition</key>
			<string>Bluetooth low energy (BLE) is a wireless personal area network technology designed and marketed by the Bluetooth Special Interest Group aimed at novel applications in the healthcare, fitness, beacons, security, and home entertainment industries. Compared to Classic Bluetooth, Bluetooth Smart is intended to provide considerably reduced power consumption and cost while maintaining a similar communication range.</string>
		</dict>
		<key>constraint</key>
		<dict>
			<key>Definition</key>
			<string>In Auto Layout, a rule that explains where one element should be located relative to another, what size it should be, or which of two elements should shrink first when something reduces the space available for each of them.</string>
		</dict>
		<key>enumeration</key>
		<dict>
			<key>Definition</key>
			<string>A data type that defines a group of related values and enables you to work with those values in a type-safe way within your code.</string>
		</dict>
		<key>hexadecimal</key>
		<dict>
			<key>Definition</key>
			<string>In mathematics and computing, hexadecimal (also base 16, or hex) is a positional numeral system with a radix, or base, of 16. It uses sixteen distinct symbols, most often the symbols **0–9** to represent values zero to nine, and **A**, **B**, **C**, **D**, **E**, **F** to represent values ten to fifteen.</string>
		</dict>
		<key>title</key>
		<dict>
			<key>Definition</key>
			<string>A human-readable string that that describes the view. If the view controller has a navigation item or tab-bar item, changing `title` also updates the title text of those bars.</string>
		</dict>
		<key>Timer</key>
		<dict>
			<key>Definition</key>
			<string>You use the `Timer` class to create timer objects or, more simply, timers. You specify whether a timer is repeating or non-repeating at creation time. A non-repeating timer fires once and then invalidates itself automatically, thereby preventing the timer from firing again. By contrast, a repeating timer fires and then reschedules itself on the same run loop.</string>
		</dict>
		<key>viewcontroller</key>
		<dict>
			<key>Definition</key>
			<string>[View controller](https://developer.apple.com/library/content/referencelibrary/GettingStarted/DevelopiOSAppsSwift/BuildABasicUI.html) is an object that manages a set of views and coordinates the flow of information between the app’s data model and the views that display that data.</string>
		</dict>
		<key>UITapGestureRecognizer</key>
		<dict>
			<key>Definition</key>
			<string>`UITap​Gesture​Recognizer` looks for single or multiple taps. For the gesture to be recognized, the specified number of fingers (`​number​Of​Touches​Required`) must tap the view a specified number of times (`number​Of​Taps​Required`).</string>
		</dict>
		<key>USGR</key>
		<dict>
			<key>Definition</key>
			<string>`UISwipe​Gesture​Recognizer` recognizes a swipe when the specified number of touches (`number​Of​Touches​Required`), usually `1`, have moved mostly in an allowable direction (`direction`) far enough to be considered a swipe.</string>
		</dict>
	</dict>
</dict>
</plist>
